@charset "UTF-8";


/*-----Estilos de tabelas-----*/
#tabela1 {
    border-collapse: collapse;
    font-size: 2em;
    margin: auto;
}

#tabela1 td {
    border: 3px solid black;
    text-align: center;
    padding: 10px 20px;
}

#tabela1 .col1 {
    background-color: rgba(87, 86, 86, 0.993);
    color: white;
}

#tabela2 {
    border-collapse: collapse;
    margin: auto;
    font-size: 1.2em;
}

#tabela2 th {
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
}

#tabela2 td {
    border: 1px solid black;
    padding: 5px;
}

#tabela2 td.c-1 {
    text-align: center;
}

#tabela2 .c-2 {
    font-style: italic;
}

#tabela3 {
    border-collapse: collapse;
    font-size: 1.2em;
    margin: auto;
}

#tabela3 td {
    border: 2px solid black;
    text-align: center;
    padding: 10px 20px;
}

#tabela3 th {
    font-weight: bold;
    color: white;
    background-color: rgb(92, 89, 89);
    font-weight: bold;
    border: 2px solid black;
    padding: 5px;
}