@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor_m1a:#0303F3;
    --cor_m1b:#0200BB;
    --cor_m2a:#883DF2;
    --cor_m2b:#620DD9;
    --cor_m3a:#02E2FB;
    --cor_m3b:#03A5BC;
    --cor_m4a:#FC6A02;
    --cor_m4b:#C25500;
}

header {
    text-align: center;
    max-width: 700px;
    min-width: 390px;
    margin: auto;
    margin-bottom: 50px;
}

main{
    
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a > div {
    text-decoration: none;
    color: black;
}

div {
    border: 1px solid black;
    border-radius: 40px;
    height: 70px;
    text-align: center;
    font-weight: bold;
    max-width: 600px;
    min-width: 350px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.m1 {
    background-color: var(--cor_m1a);
}

.m1:hover {
    color: white;
    background-color: var(--cor_m1b);
    transition-duration: 0.5s;
}

.m2 {
    background-color: var(--cor_m2a);
}

.m2:hover {
    color: white;
    background-color: var(--cor_m2b);
    transition-duration: 0.5s;
}

.m3 {
    background-color: var(--cor_m3a);
}

.m3:hover {
    color: white;
    background-color: var(--cor_m3b);
    transition-duration: 0.5s;
}

.m4 {
    background-color: var(--cor_m4a);
}

.m4:hover {
    color: white;
    background-color: var(--cor_m4b);
    transition-duration: 0.5s;
}

footer {
    margin: auto;
    text-align: center;
    padding: 4px;
}